/* 
////////////////////////////////////////////
Color Theme
////////////////////////////////////////////
*/

body {
	--color-off-white: 255, 250, 250;
	--color-wheat: 217, 183, 132;
	--color-wheat-rgb: rgb(var(--color-wheat));
	--color-eucalyptus: 46, 78, 67;
	--color-eucalyptus-rgb: rgb(var(--color-eucalyptus));
	--color-eucalyptus-light: 223, 232, 229;
}

/* 
////////////////////////////////////////////
Typography
////////////////////////////////////////////
*/
@font-face {
	font-family: NewYork;
	src: url(/public/NewYork.otf);
}

body {
	--font-family: "Open Sans", sans-serif;
	--font-family-special: NewYork, serif;
}

body {
	font-family: var(--font-family);
	font-weight: normal;
	color: rgb(0, 0, 0);
	line-height: 1.2;
}
header {
	font-family: var(--font-family-special);
	color: rgb(var(--color-off-white));
}
h1 {
	font-family: var(--font-family-special);
	font-size: 64px;
	font-weight: normal;
}
h2 {
	font-family: var(--font-family-special);
	font-size: 3rem;
	font-weight: normal;
}
h3 {
	font-size: 2rem;
	font-weight: normal;

	margin-top: 50px;
	margin-bottom: 20px;
}
section:not(.section--no-card) h3:first-of-type {
	margin-top: 0;
}
h4 {
	font-size: 1.5rem;
	font-weight: normal;
}
h5 {
	font-size: 1.3rem;
	font-weight: normal;
}

p {
	font-size: 1rem;
}
p.p--small {
	font-size: 0.9rem;
}

p.p--green {
	color: rgb(var(--color-eucalyptus));
}

.vertical-align-middle {
	vertical-align: middle;
}

a,
#hero__arrow-down,
#hero__arrow-down:active,
#hero__arrow-down:visited {
	text-decoration: none;
	color: rgb(var(--color-off-white));
}

/* 
////////////////////////////////////////////
Component variables
////////////////////////////////////////////
*/
body {
	--padding-section-y: 70px;
	--padding-section-x: 15px;
	--padding-section: var(--padding-section-y) var(--padding-section-x);
	--border-radius-small: 4px;
	--border-radius-large: 15px;
	--box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.5);
}

/* 
////////////////////////////////////////////
Styling
////////////////////////////////////////////
*/

/* GENERAL */
html {
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
}
body {
	background-color: rgb(var(--color-off-white));
}
section {
	position: relative;
	padding: var(--padding-section);

	background-color: rgb(var(--bg-color));
}
section:not(.section--no-card) {
	border-radius: var(--border-radius-large);
	-webkit-border-radius: var(--border-radius-large);
	-moz-border-radius: var(--border-radius-large);
	-ms-border-radius: var(--border-radius-large);
	-o-border-radius: var(--border-radius-large);

	box-shadow: var(--box-shadow);
}
section.section--end-below::after {
	content: "";
	position: absolute;
	z-index: 0;
	bottom: -50px;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: rgb(var(--bg-color));
}
section.section--beginning-below::before {
	content: "";
	position: absolute;
	z-index: 0;
	top: -50px;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: rgb(var(--bg-color));
}

.content-max-width {
	position: relative;
	max-width: 1200px;
	padding: max(0, 100%-1200px);
	width: 100%;
	height: 100%;
	margin: auto;
}

img {
	display: block;
}

img:not(.hero__img):not(.pswp__img),
div#map {
	border-radius: var(--border-radius-small);
	-webkit-border-radius: var(--border-radius-small);
	-moz-border-radius: var(--border-radius-small);
	-ms-border-radius: var(--border-radius-small);
	-o-border-radius: var(--border-radius-small);
}

img.fade-in {
	animation: fade-in linear;
	-webkit-animation: fade-in linear forwards;
	animation-timeline: view();
	animation-range: normal 30vh;

	scale: 0.8;
	opacity: 0.3;
}

.img--large-only,
.img--no-thumb {
	display: none;
}

@keyframes fade-in {
	from {
	}
	to {
		scale: 1;
		opacity: 1;
	}
}

/* Chronological */
header {
	height: 100svh;
	overflow: hidden;

	background-color: rgb(var(--color-wheat));
}
header img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	object-fit: cover;
	object-position: 45% 50%;
}
.hero__gradient {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.5) 75%
	);
}
.hero__flex-outer {
	display: flex;
	flex-direction: column;

	justify-content: flex-end;
	height: 100%;
	padding: 0 var(--padding-section-x);
	padding-bottom: min(100px, 10%);
}

.hero #date {
	font-size: 20px;
	position: relative;
	width: max-content;
}
.hero #date:after {
	content: "";
	width: 60%;
	height: 1px;
	background-color: rgb(var(--color-off-white));
	position: absolute;
	bottom: -0.5rem;
	left: 0;
}

.hero h1 {
	margin: 20px 0 40px 0;
}

#hero__arrow-down {
	/* position: absolute; */
	align-self: center;
	/* bottom: 25px;
	left: 50%;
	transform: translatex(-50%);
	-webkit-transform: translatex(-50%);
	-moz-transform: translatex(-50%);
	-ms-transform: translatex(-50%);
	-o-transform: translatex(-50%); */

	font-size: 56px;
}

section.countdown {
	--bg-color: var(--color-wheat);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100svh - 150px);
}

.countdown__content {
	text-align: center;
	width: 33ch;
}

#countdown__counter {
	display: flex;
	justify-content: space-between;

	margin: 60px 0 30px 0;
}

.countdown__zahlen {
	font-size: 2rem;
	font-weight: bold;
}

.countdown__label {
	opacity: 0.7;
}
.countdown__please {
	font-style: italic;
	width: 33ch;
	text-align: center;
	margin: 30px auto;
}

section .ablauf__img-container {
	position: relative;
	top: calc(var(--padding-section-y) * (-1));
	left: calc(var(--padding-section-x) * (-1));
	width: calc(100% + 2 * var(--padding-section-x));
	padding: var(--padding-section-x);
	margin-bottom: calc(var(--padding-section-y) * (-1));
}

.ablauf__img-container::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;

	/* background-color: rgb(var(--color-wheat)); */
	box-shadow: inset 0 -50vw 0 50vw rgb(var(--color-wheat)),
		0 -50vw 0 50vw rgb(var(--color-wheat));

	z-index: -1;
}

#ablauf img {
	width: 100%;
	box-shadow: var(--box-shadow);
}

#ablauf .timeline__container {
	margin: 50px 0 50px 15px;
	padding: 20px 0;
	margin-top: calc(50px - 20px);
	margin-bottom: calc(50px - 20px);
	position: relative;
}
#ablauf .timeline__container:before {
	content: "";
	position: absolute;
	top: 0;
	left: 16px;
	/* dependent on size of icon + padding */
	z-index: -1;

	background-color: rgb(var(--color-wheat));
	width: 2px;
	height: 100%;
}
#ablauf .timeline__flex-elements-container {
	display: flex;
	gap: 10px;

	margin: 50px 0;
}
#ablauf .timeline__flex-elements-container:first-child {
	margin-top: 0;
}
#ablauf .timeline__flex-elements-container:last-child {
	margin-bottom: 0;
}
#ablauf .timeline__icon-container {
	background-color: rgb(var(--color-off-white));
	color: rgb(var(--color-wheat));
	/* fill: rgb(var(--color-wheat)); */

	font-size: 30px;

	width: max-content;
	height: max-content;
	margin-top: 5px;
	padding: 2px;

	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
}
#ablauf .timeline__time {
	margin: 0;
	opacity: 0.7;
}
#ablauf .timeline__title {
	margin: 0;
}
#ablauf .timeline__description {
	margin: 5px 0 0 0;
	max-width: 30ch;
}

section#location {
	--bg-color: var(--color-wheat);

	border-radius: var(--border-radius-large);
	-webkit-border-radius: var(--border-radius-large);
	-moz-border-radius: var(--border-radius-large);
	-ms-border-radius: var(--border-radius-large);
	-o-border-radius: var(--border-radius-large);

	box-shadow: var(--box-shadow);
}
#address {
	margin-top: 30px;
}

.location__img-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 20px;
}

#location img {
	width: 100%;
}

#map {
	height: 250px;
	width: 100%;
}
#map__pin {
	width: 40px;
}
#map__pin-background {
	fill: rgb(var(--color-eucalyptus));
}
#map__pin-heart {
	fill: rgb(var(--color-off-white));
}
.map__name,
.map__address,
.map__maps-link {
	margin: 0;
	padding: 0;

	font-family: var(--font-family);
	font-size: 0.9rem;
}
.map__name {
	font-size: 1rem;
	font-weight: bold;
}
.map__address {
	margin: 5px 0;
}

section#gallery {
	--bg-color: var(--color-off-white);
	z-index: 100;
}

.gallery__grid-container {
	width: 100%;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr;
	gap: 10px;

	grid-template-areas:
		"1 2"
		"3 4"
		"5 6";
}
.gallery__grid-container img {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.pswp--custom-icon-colors {
	--pswp-icon-color: rgb(var(--color-off-white));
	--pswp-icon-color-secondary: #333;
}

section#signup {
	--bg-color: var(--color-eucalyptus);
	color: rgb(var(--color-off-white));
}

section#faq {
}

section#contact {
	--bg-color: var(--color-eucalyptus);
	color: rgb(var(--color-off-white));
}
