/* 
////////////////////////////////////////////
Color Theme
////////////////////////////////////////////
*/

body {
	--color-off-white: 255, 250, 250;
	--color-wheat: 217, 183, 132;
	--color-eucalyptus: 46, 78, 67;
	--color-eucalyptus-light: 223, 232, 229;
}

/* 
////////////////////////////////////////////
Typography
////////////////////////////////////////////
*/
@font-face {
	font-family: NewYork;
	src: url(/public/NewYork.otf);
}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	color: rgb(0, 0, 0);
	line-height: 1.2;
}
header {
	font-family: NewYork, serif;
	color: rgb(var(--color-off-white));
}

h1 {
	font-size: 64px;
	font-weight: normal;
}

h2 {
	font-family: NewYork, serif;
	font-size: 3rem;
	font-weight: normal;
}

p {
	font-size: 1rem;
}
p.p--small {
	font-size: 0.9rem;
}

/* 
////////////////////////////////////////////
Component variables
////////////////////////////////////////////
*/
body {
	--padding-section: 10px;
}

/* 
////////////////////////////////////////////
Styling
////////////////////////////////////////////
*/

/* GENERAL */
html {
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
}
body {
	background-color: rgb(var(--color-off-white));
}
section {
	padding: var(--padding-section);
	position: relative;
}
.content-max-width {
	position: relative;
	max-width: 1200px;
	width: 100%;
	height: 100%;
	margin: auto;
}

img.fade-in {
	animation: fade-in linear;
	-webkit-animation: fade-in linear forwards;
	animation-timeline: view(80vh 0);

	scale: 0.8;
	opacity: 0.3;
	/* animation-range: cover -500px; */
}

@keyframes fade-in {
	from {
	}
	to {
		scale: 1;
		opacity: 1;
	}
}

/* Chronological */
header {
	height: 100svh;
	overflow: hidden;
}
header img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	object-fit: cover;
	object-position: 45% 50%;
}
.hero__gradient {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.5) 75%
	);
}
.hero__flex-outer {
	display: flex;
	flex-direction: column;

	justify-content: flex-end;
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: min(100px, 10%);
}
.hero__flex-inner {
}
.hero__cover-text {
	/* position: absolute; */
	/* bottom: min(100px, 15%); */
	/* bottom: 100px; */
	/* left: 20px; */
}

.hero #date {
	font-size: 20px;
	position: relative;
}
.hero #date:after {
	content: "";
	width: 20%;
	height: 1px;
	background-color: rgb(var(--color-off-white));
	position: absolute;
	bottom: -0.5rem;
	left: 0;
}

.hero h1 {
	margin: 20px 0;
}

#hero__arrow-down {
	/* position: absolute; */
	align-self: center;
	/* bottom: 25px;
	left: 50%;
	transform: translatex(-50%);
	-webkit-transform: translatex(-50%);
	-moz-transform: translatex(-50%);
	-ms-transform: translatex(-50%);
	-o-transform: translatex(-50%); */

	font-size: 40px;
}
#hero__arrow-down,
#hero__arrow-down:active,
#hero__arrow-down:visited {
	text-decoration: none;
	color: rgb(var(--color-off-white));
}

section.countdown {
	background-color: rgb(var(--color-wheat));
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100svh - 75px);
}

.countdown__content {
	text-align: center;
	width: 33ch;
}

#countdown__counter {
	display: flex;
	justify-content: space-between;

	margin: 60px 0 30px 0;
}

.countdown__zahlen {
	font-size: 2rem;
	font-weight: bold;
}

.countdown__label {
	opacity: 0.7;
}
.countdown__please {
	font-style: italic;
	width: 33ch;
	text-align: center;
	margin: 0 auto;
}

section .ablauf__img-container {
	position: relative;
	top: calc(var(--padding-section) * (-1));
	left: calc(var(--padding-section) * (-1));
	width: calc(100% + 2 * var(--padding-section));
	padding: var(--padding-section);
}

.ablauf__img-container::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;

	background-color: rgb(var(--color-wheat));
}

.ablauf img {
	width: 100%;
}
